[submodule "content/React"]
	path = content/React
	url = git@github.com:Valkure-Yip/react-learning-notes.git
[submodule "content/system-design"]
	path = content/system-design
	url = git@github.com:Valkure-Yip/system-design.git
[submodule "content/economics"]
	path = content/economics
	url = git@github.com:Valkure-Yip/economics-knowledge-vault.git
[submodule "content/frontend"]
	path = content/frontend
	url = git@github.com:Valkure-Yip/web_frontend_keynotes.git